<h1>Listing product_photos</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_photos.each do |product_photo| %>
      <tr>
        <td><%= product_photo.product %></td>
        <td><%= product_photo.name %></td>
        <td><%= product_photo.order %></td>
        <td><%= link_to 'Show', [@product, product_photo] %></td>
        <td><%= link_to 'Edit', [:edit, @product, product_photo] %></td>
        <td><%= link_to 'Destroy', [@product, product_photo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product photo', [:new, @product, :product_photo] %>
