<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_photo.product %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product_photo.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @product_photo.order %>
</p>

<%= link_to 'Edit', [:edit, @product, @product_photo] %> |
<%= link_to 'Back', [@product, :product_photos] %>