<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="breadcrumbs">
  <% bread.each do |crumb| %>
    <li class="<%= 'active' if crumb.current? %>">
      <%= link_to crumb.title, crumb.path, class: "icon icon-#{crumb[:icon]}" %>
    </li>
  <% end %>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<% if (current_user rescue false) %>
  <p class="current_user"><%= current_user.email %></p>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <p class="current_user">Guest</p>
<% end %>


<%= yield %>

</body>
</html>
